footer.footer
	.footer__icons 
		a(href="").footer__icon 
			img(src="images/footer/vk.svg", alt="alt")
		a(href="").footer__icon 
			img(src="images/footer/tg.svg", alt="alt")
		a(href="").footer__icon 
			img(src="images/footer/yt.svg", alt="alt")
	.footer__copyright Grünländer, 2023 