footer.footer
	.footer__icons 
		.footer__icon 
			img(src="images/footer/vk.svg", alt="alt")
		.footer__icon 
			img(src="images/footer/tg.svg", alt="alt")
		.footer__icon 
			img(src="images/footer/yt.svg", alt="alt")
	.footer__copyright Grünländer, 2023 