.hero
	.hero__bg.desk
		img(src="images/hero/hero-bg-desk.png", alt="alt")
	.hero__bg.mob
		img(src="images/hero/hero-bg-mob.png", alt="alt")
	.hero__container 
		.hero__leafs-full-width 
			img(src="images/hero/leafs-full-width.png", alt="alt")
		.hero__body 
			.hero__title 
				span ВКУСНО, 
					br
					|КОГДА ЕСТЕСТВЕННО
			.hero__text 
				|Устали от пресного правильного питания? ​Мы покажем, что натуральные и полезные продукты могут быть еще и очень вкусными! ​
			.hero__btn 
				img(src="images/hero/arrow.svg", alt="alt")
				span Листайте ниже и узнайте, как приготовить естественно вкусные блюда!
		.hero__img 
			img(src="images/hero/hero.png", alt="alt")